<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
    <test name="FirstPageButtonTestingWithChrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="FirstPageTest"/>
        </classes>
    </test>
    <test name="FirstPageButtonTestingWithFirefox">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="FirstPageTest"/>
        </classes>
    </test>
</suite>
